{% extends 'base_layout.html' %}


{% block title %}{{ block.super }} - cart{% endblock %}

{% block head %}
{% load static %}
<script src="{% static 'orders/cartitemlist.js' %}"></script>
{% endblock %}

{% block content%}
{% if cartitems and cartitems|length > 0 %}
    <nav class="navbar sticky-top navbar-dark bg-dark justify-content-between">
        <a class="btn btn-sm btn-secondary my-2 my-sm-0" href="{% url 'orders:menu' %}">Continue shopping</a>
        <input type="button" value="Checkout" class="btn btn-sm btn-success my-2 my-sm-0" onclick="fnCheckOut()">
    </nav>

<!-- lets create a table with hidden borders so as to show the options. -->
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="width: 40%">Item (Size)</th>
            <th scope="col" style="width: 10%">Quantity</th>
            <th scope="col" style="width: 10%">Cost</th>
            <th scope="col" style="width: 30%">Addons</th>
            <th scope="col" style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>

        {% for cartitem in cartitems %}
        <tr>
            <td>{% if cartitem.baseitem.pizza.crust %}{{ cartitem.baseitem.pizza.crust}} Pizza - {% endif %}
                {{ cartitem.baseitem.name }} {% if cartitem.baseitem.size %} ({{ cartitem.baseitem.size}} ){% endif %}
            </td>
            <td>{{ cartitem.quantity }}</td>
            <td>{{ cartitem.price }}</td>
            <td>{% if cartitem.toppings.count > 0 %}
                {% for topping in cartitem.toppings.all %}
                {% if forloop.last %}
                {{ topping.name }}
                {% else %}
                {{ topping.name }},
                {% endif %}
                {% endfor %}
                {% elif cartitem.subextra.count > 0 %}
                {% for extra in cartitem.subextra.all %}
                {% if forloop.last %}
                {{ extra.name }}
                {% else %}
                {{ extra.name }},
                {% endif %}
                {% endfor %}
                {% endif %}
            </td>
            <td>
                <form action="{% url 'orders:delete_cart_item' cartitem.id %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this entry ?');">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger my-2 my-sm-0">
                </form>
            </td>
        </tr>
        {% endfor %}

        <!-- now lets write the cart total. -->
        <tr style="font-weight:bold">
            <td>Cart Total</td>
            <td></td>
            <td><span id="cart-total-cost">{{cart_total_cost}}</span></td>
            <td></td>
            <td></td>
        </tr>
       
    </tbody>
</table>

<br>
<div class="row justify-content-center">
    <div style="width: 90%;">
            <form class="site-form" id="Customer-details-form" action="{% url 'orders:place_order' %}" method="POST">
            {% csrf_token %}
            <h3>Custome detials</h3>
            <div class="form-group">
                Contact* <small class="form-text text-muted" style="float: right ;">(Maximum length of 50 character)</small>
                <input class="form-control" name="contact" placeholder="Phone Number" required maxlength="50">
            </div>
            <div class="form-group">
                Address* <small class="form-text text-muted" style="float: right ;">(Maximum length of 100 character)</small>
                <input class="form-control" name="address" placeholder="Address" required maxlength="100" >
            </div>
            <div class="form-group">
                Special request(optional)<small class="form-text text-muted" style="float: right ;">(Maximum length of 100 character)</small>
                <input class="form-control" name="message" placeholder="Message"
                    maxlength="100">
                
            </div>

            <input hidden type="submit" id="Customer-details-form-submit" value="Submit">
        </form>
    </div>
</div>





{% else%}
<nav class="navbar sticky-top navbar-dark bg-dark justify-content-between">
    <a class="btn btn-sm btn-secondary my-2 my-sm-0" href="{% url 'orders:menu' %}">Continue shopping</a>
</nav>
<h3>shopping cart is empty. Select some items first...</h3>
{% endif %}

{% endblock %}
