{% extends 'base_layout.html' %}

{% block title %}{{ block.super }} - Menu{% endblock %}


{% block content%}
<h1 class="menu-subheading">Menu</h1>
<nav class="navbar sticky-top navbar-dark bg-dark">
    {% if regular_pizzas %}
    <a class="navbar-brand" href="#regular_pizzas">Regular Pizzas</a>
    {% endif %}

    {% if sicilian_pizzas %}
    <a class="navbar-brand" href="#sicilian_pizza">Sicilian Pizzas</a>
    {% endif %}

    {% if toppings %}
    <a class="navbar-brand" href="#toppings">Toppings</a>
    {% endif %}

    {% if subs %}
    <a class="navbar-brand" href="#subs">Subs</a>
    {% endif %}

    {% if pastas %}
    <a class="navbar-brand" href="#pastas">Pastas</a>
    {% endif %}

    {% if salads %}
    <a class="navbar-brand" href="#salads">Salads</a>
    {% endif %}

    {% if dinners %}
    <a class="navbar-brand" href="#dinners">Dinner Platters</a>
    {% endif %}
</nav>

<!-- now lets write the menu for each type -->

{% if regular_pizzas %}
<br>
<h2 id="regular_pizzas" class="menu-subheading">Regular Pizzas</h2>
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col" style="width: 60%"></th>
                <th scope="col" style="width: 20%" >Small</th>
                <th scope="col" style="width: 20%" >Large</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in regular_pizzas %}
            <tr>
                <td><b>{{ pizza.name }}</b></td>
                {% if pizza.id_small %}
                <td >{{ pizza.price_small }} <a href="{% url 'orders:add_item' pizza.id_small %}" >Customize & Add</a></td>
                {% else %}
                <td></td>
                {% endif %}

                {% if pizza.id_large %}
                <td>{{ pizza.price_large }} <a href="{% url 'orders:add_item' pizza.id_large %}">Customize & Add</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% if sicilian_pizzas %}
<br>
<h2 id="sicilian_pizzas" class="menu-subheading">Sicilian Pizzas</h2>
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col" style="width: 60%"></th>
                <th scope="col" style="width: 20%" >Small</th>
                <th scope="col" style="width: 20%" >Large</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in sicilian_pizzas %}
            <tr>
                <td><b>{{ pizza.name }}</b></td>
                {% if pizza.id_small %}
                <td>{{ pizza.price_small }} <a href="{% url 'orders:add_item' pizza.id_small %}">Customize & Add</a></td>
                {% else %}
                <td></td>
                {% endif %}

                {% if pizza.id_large %}
                <td>{{ pizza.price_large }} <a href="{% url 'orders:add_item' pizza.id_large %}">Customize & Add</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% if toppings %}
<br>
<h2 id="toppings" class="menu-subheading">Toppings</h2>
<div>
    <table class="table table-hover table-striped">
        <tbody>
            {% for topping in toppings %}
            <tr style="text-align: center;">
                <td>{{ topping.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}



{% if subs %}
<br>
<h2 id="subs" class="menu-subheading">Subs</h2>
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col" style="width: 60%"></th>
                <th scope="col" style="width: 20%" >Small</th>
                <th scope="col" style="width: 20%" >Large</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subs %}
            <tr>
                <td><b>{{ sub.name }}</b></td>
                {% if sub.id_small %}
                <td>{{ sub.price_small }} <a href="{% url 'orders:add_item' sub.id_small %}">Customize & Add</a></td>
                {% else %}
                <td></td>
                {% endif %}

                {% if sub.id_large %}
                <td>{{ sub.price_large }} <a href="{% url 'orders:add_item' sub.id_large %}">Customize & Add</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}

            <!-- now lets add all the extras if present -->
            {% for extra in extras %}
            <tr>
                <td><b>+ {{ extra.name }} on any sub</b></td>
                {% if extra.id_small %}
                <td>+{{ extra.price_small }}</td>
                {% else %}
                <td></td>
                {% endif %}

                {% if extra.id_large %}
                <td>+{{ extra.price_large }}</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% if pastas %}
<br>
<h2 id="pastas" class="menu-subheading">Pasta</h2>
<div>
    <table class="table table-hover table-striped">
        <colgroup>
            <col width="60%"></col>
            <col width="20%"></col>
        </colgroup>
        <tbody>
            {% for pasta in pastas %}
            <tr>
                <td><b>{{ pasta.name }}</b></td>
                <td>{{ pasta.price }} <a href="{% url 'orders:add_item' pasta.id %}">Customize & Add</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if salads %}
<br>
<h2 id="salads" class="menu-subheading">Salad</h2>
<div>
    <table class="table table-hover table-striped">
        <colgroup>
            <col width="60%"></col>
            <col width="20%"></col>
        </colgroup>
        <tbody>
            {% for salad in salads %}
            <tr>
                <td><b>{{ salad.name }}</b></td>
                <td>{{ salad.price }} <a href="{% url 'orders:add_item' salad.id %}">Customize & Add</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% if dinners %}
<br>
<h2 id="dinners" class="menu-subheading">Dinner Platters</h2>
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col" style="width: 60%"></th>
                <th scope="col" style="width: 20%" >Small</th>
                <th scope="col" style="width: 20%" >Large</th>
            </tr>
        </thead>
        <tbody>
            {% for dinner in dinners %}
            <tr>
                <td><b>{{ dinner.name }}</b></td>
                {% if dinner.id_small %}
                <td>{{ dinner.price_small }} <a href="{% url 'orders:add_item' dinner.id_small %}">Customize & Add</a></td>
                {% else %}
                <td></td>
                {% endif %}

                {% if dinner.id_large %}
                <td>{{ dinner.price_large }} <a href="{% url 'orders:add_item' dinner.id_large %}">Customize & Add</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

</div>


{% endblock %}
